{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video (Showing {{ videos|length }} of {{ videoCount }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>YoutubeId</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td><a href="{{ path('video_show', video.rp) }}">{{ video.youtubeId }}</a></td>
                <td>{{ video.title|raw }}</td>
                <td>{{ video.description|escape }}</td>
                <td>{{ video.date ? video.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('video_show', video.rp) }}">show</a>
                    <a href="{{ path('video_edit', video.rp) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Create new</a>
{% endblock %}
